@using YumKaax.Models
@model SolicitudCLS

@{
    ViewBag.Title = "CrearSolicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <label class="form-control" for="titulo">Título</label>
                @Html.TextBoxFor(m => m.TituloSolicitud, new { @class = "form-control", @id = "titulo", @required = "true" })

                @Html.ValidationMessage("titulo", null, new { @class = "text-damger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-6">
                <label class="form-control" for="Descripcion">Descripción</label>
                @Html.TextAreaFor(m => m.DescripcionSolicitud, new { @class = "form-control", @id = "Descripcion" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-6">
                <label class="form-control" for="Descripcion">Imagen</label>
                @Html.TextBoxFor(m => m.Imagen, new { @class = "form-control", type = "file", accept = ".png, .jpg, .svg", style = "background-color:white;color:black;" })
            </div>
        </div>
    </div>
</div>

