body {
    position: relative;
    min-height: 100vh;
    width: 100%;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.footer-bl {
    background-color: black;
    color: white;
    position: absolute;
    left: 78px;
    bottom: 0;
    width: 100%;    
}

    .footer-bl .list-footer {
        border: none;
        border-bottom-color: black;
    }

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.7;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

/*----------- Sidebar -----------*/
    .nav_list{
        padding-left: 5px;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 78px;
        background: #71B350;
        padding: 6px 14px;
        transition: all 0.5s ease;
    }
    .sidebar.active {
        width: 240px;
    }
    .sidebar .logo_content .logo {
        color: #fff;
        display: flex;
        height: 50px;
        width: 100%;
        align-items: center;
        margin: 0; 
        transition: all 0.8s ease;
        opacity: 0; 
        pointer-events: none;
    }

    .sidebar.active .logo_content .logo {
        opacity: 1;
        pointer-events: none;
        margin: 2rem 3rem 2rem; 
    }
    .sidebar #btn{
        position: absolute;
        color:#fff;
        left: 50%;
        top: 6px;
        font-size:20px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height:50px;
        transform: translateX(-50%);
    }
    .sidebar.active #btn{
        left: 90%;
    }

    .sidebar ul {
        margin-top:20px;
    }
    .sidebar ul li{
        position: relative;
        height: 50px;
        width:100%;
        margin: 0 5px;
        list-style: none;
    }
    .sidebar ul li .tooltip{
        position: relative;
        left: 30px;
        top: 0;
        transform: translate(-50%, -50%);
        border-radius: 6px;
        height: 35px; 
        width: 122px;
        background: #fff;
        line-height: 35px;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: 0s;
        opacity: 0;
        pointer-events: none !important;
        z-index:1011;
        display: block;
    }
    .sidebar.active ul li .tooltip
    {
        display:none;
    }
    .sidebar ul li:hover .tooltip{
        transition: all 0.5s ease;
        opacity: 1;
        top:50%;
    }

    .sidebar ul li a {
        color: white;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        border-radius: 12px;
    }
    .sidebar ul li a:hover{
        color:black;
        background:white;
    }
    .sidebar ul li a span {
        height: 15px;
        min-width: 15px;
        padding-right: 5px;
        white-space:nowrap;
    }
    .sidebar .links_name{
        opacity:0;
        pointer-events: none;
        padding-bottom: 22px;
    }
    .sidebar.active .links_name{
        opacity:1;
        pointer-events: auto;
    }
    .sidebar .profile_content{
        position:absolute;
        color:white;
        bottom: 0;
        left: 0;
        width:100%;
    }
    .sidebar .profile_content .profile{
        position: relative;
        padding: 10px 6px;
        height: 60px;
        background: #1d1b31;
    }
    .profile_content .profile .profile_details{
        display: flex;
        align-items: center;
        opacity: 0;
        pointer-events: none;
    }
    .sidebar.active .profile .profile_details{
        opacity: 1;
        pointer-events: auto;
    }
     .profile .profile_details .name_job{
        margin-left: 10px;
    }
     .profile .profile_details .name{
         font-size: 15px;
         font-weight:400;
     }

    .profile .profile_details .job {
        font-size: 12px;
    }

    .profile #log_out{
        position:absolute;
        left:88%;
        bottom: 5px;
        transform: translateX(-50%);
        min-width:50px;
        line-height: 50px; 
        font-size: 20px; 
        border-radius:12px;
    }
    .home_content {
        position: absolute;
        height: 100%;
        width: calc(100% - 78px);
        left: 75px;
        padding-left: 15px;
        padding-right: 15px;
        transition: all 0.5s ease;
        z-index:1;
        opacity:.99;
    }
    .sidebar.active ~ .home_content {
        width: calc(100% - 240px);
        left: 240px;
    }